# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/

# macOS
.DS_Store

# Node / frontend junk (future proof)
node_modules/
dist/
build/


# Python bytecode
__pycache__/
*.pyc
!backend/data/history/*.json

__pycache__/
*.pyc
